body {
  background-color: #b1d49c;
}

@font-face {
  font-family: pixel;
  src: url('assets/fonts/kongtext.ttf');
}

#canvas {
  border: 5px solid rgba(80,80,80,1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_title {
  font-family: pixel;
  font-size: 15px;
  margin: 20px 0px 20px 0px;
}

.game_description {
  font-family: pixel;
  font-size: 12px;
  margin: 20px 0px 20px 0px;
}
